.buttonVer {
    background-color: rgba(212, 191, 32, 0.926);
    border-style: none;
    font-weight: bold;
    color: rgb(42, 39, 39);
    padding: 3px;
    border-radius: 4px;
    font-size: 15px;
    transition: 0.2s;
    &:hover {
        font-size: 16px;
        text-decoration: underline;
    }
}