.carousel-indicators {
    margin-bottom: -2rem;
}

.flecha-prev {
    width: 26px;
    left: -25px;
}

.flecha-next {
    width: 26px;
    right: -25px;
}

.inicioArtista {
    width: 100%;
}

.carousel-item iframe {
    height: 700px;
    border-radius: 10px;
}