.imagenRandom {
    grid-area: img;
}
.carousel-random {
    margin-top: 25px;
    width: 365px;
    box-shadow: #111211 0px 0px 20px 15px;
    height: fit-content;
    @media (max-width: 416px){
        width: 90%;
    }
}

.carousel-item img {
    height: 627px;
    border-radius: 10px;
    object-fit: cover;
}

.pointer-event {
    border-radius: 10px;
}