.ascenso {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-area: ascenso;
    .tituloAscenso {
        font-size: 30px;
        height: 500px;
        width: 147px;
        text-align: center;
        margin: 5px;
        display: flex;
        align-items: center;
        h3 {
            border: none;
        }
    }
}