.ascenso {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-area: ascenso;
    @media (max-width: 574px){
        flex-direction: column;
    }
    .tituloAscenso {
        font-size: 30px;
        width: 147px;
        text-align: center;
        margin: 5px;
        display: flex;
        align-items: center;
        h3 {
            border: none;
        }
    }
    

}

.cartaAscenso {
        .imgArtista {
            border-radius: $b-radius;
                height: 200px;
        }

        div {
            display: flex;
            justify-content: space-around;
        }
        @include cards(0px,15px,15px)
    }