footer {
    background-color: $bg-color-container;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 80px;
    width: 100%;
    @media (max-width: 840px){
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 390px){
        height: 700px;
        justify-content: flex-start;
    }
    img {
        width: 250px;
        height: 250px;
    }
    .textoFooter {
        width: 300px;
        p{
            text-align: center;
            margin-top: 30px;
        }
    }
    .iconosFooter {
        width: 200px;
        a {
            font-size: 50px;
            margin: 5px;
            color: aliceblue;
        }
    }
}