.favContainer {
    grid-area: fav;
    width: 95%;
    .favoritosCartas {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
      @media (max-width: 629px){
        justify-content: center;
      }
      @media (max-width: 572px){
        justify-content: space-around;
      }
      .favoritoCarta {
        width: 180px;
        margin: 10px;
        padding-bottom: 5px;
        justify-content: flex-start;
        img{
          border-radius: $b-radius;
        }
        .botonesFav {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
