

.nuevosArtistas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-area: artista;
    @media (max-width: 1829px){
        flex-direction: column;
        width: 100%;
    }
    .tituloPrincipal {
        width: 100%;
    }
    .videoArtista {
        display: flex;
        width: 100%;
        @media (max-width: 1829px){
            flex-direction: column;
        }
        @media (max-width: 1438px){
            flex-direction: column;
            width: 100%;
        }
        @media (max-width: 1040px) {
            flex-direction: column;
        }
        iframe{
            @media (max-width: 1829px){
                    height: 800px;
                    width: 800px;
            }
            @media (max-width: 1438px) {
                height: 600px;
                width: 100%;
                }
            @media (max-width: 1040px) {
                height: 500px;
                width: 100%;
            }
        }
    }


    .textoArtista {
        width: 180px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
        @media (max-width: 1829px){
            margin-left: 0px;
            margin-top: 30px;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        @media (max-width: 1438px){
            height: auto;
            width: 100%;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: 100px;
            margin-left: 0px;
            flex-direction: row;
        }
        .textoInicio{
            @media (max-width: 1829px){
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-right: 5px;
            }
            @media (max-width: 870px){
                display: none;
            }
        }
        .botonesInicio{
            height: 40px;
            @media (max-width: 1829px){
                width: auto;
            }
            @media (max-width: 870px){
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }
    }
}