

.nuevosArtistas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-area: artista;
    width: 95%;
    .tituloPrincipal {
        width: 100%;
    }
    .videoArtista {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .textoArtista {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        align-items: center;
        @media (max-width: 1100px){
            justify-content: center;
        }

        .textoInicio{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            p{
                margin-bottom: 0px;
            }
            @media (max-width: 1829px){
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-right: 5px;
            }
            @media (max-width: 1100px){
                display: none;
            }
        }
        .botonesInicio{
            height: 40px;
            width: 110px;
            display: flex;
            align-items: center;
            @media (max-width: 1829px){
                width: auto;
            }
            @media (max-width: 870px){
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }
    }
}