.topSemanal {

    .topTitulo {
        @extend %top-titulo;
    }
    .artistaSemanal {
        
        
        p {
            margin-bottom: 0px;
        }
        img {
            width: 60px;
            height: 40px;
        }
        @extend %card-top
    }
    @include topSemanal-top10(top)
}